body{
    background-color: gray;
    overflow: hidden;
    margin: 0;

}
.main_container{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.login{
    background-color: red;
    width: 50%;
    height: 100%;
    position: relative;
}
.welcome_container{
    margin-top: 25%;
    text-align: center;
}
.welcome_container h1{
    padding: 5%;
}

.login_container{
    margin: auto;
    background-color: blue;
    width: 50%;
    text-align: left;

}
.login_container button{
   margin-left: 50%;
}

.signup{
    display: none;
    padding: 0;
    background-color: purple;
    top: 0;
    z-index: 1;
   height:100%;
    width: 100%;
    position: absolute;
}
.signupModal_content{
    background-color: white;
    height: 200px;
    width: 200px;
    margin: auto;
    position: relative;
    top: 30%;

}
