$persikka: #faaca8;
$vaalean_lila: #ddd6f3;
$valkoinen: #fff;
$harmaa: #777;
$teksti_fontti: 'Lato', sans-serif;
$musta: #000;
$hover: darken($persikka, 10%);

body, html {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box
}

// CAROUSEL STYLES
// Hide the images by default
.carousel {
  transition: 30s ease-in;
}

.carousel_slide {
  animation: fading 10s;
}

@keyframes fading {
  0% {
    opacity: 0.2
  }
  50% {
    opacity: 0.8
  }
  100% {
    opacity: 0
  }
}

// FULL PAGE IMG
.carousel_slide img {
  width: 100%;
  height: 100vh;
}


// FORM STYLES
.form_container {
  width: 380px;
  height: 480px;
  position: absolute;
  background: $valkoinen;
  padding: 5px;
  overflow: hidden;
  border-radius: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button_container {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 30px 9px rgb(255, 240, 244);
  border-radius: 30px;
}

.switch_button {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  font-family: $teksti_fontti;
  font-size: .9rem;
}

#switchFormButton {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, $vaalean_lila, $persikka);
  border-radius: 30px;
  transition: .5s;
}

.social-icons {
  margin: 15px auto;
  text-align: center;
}

.social-icons i {
  width: 40px;
  margin: 0 12px;
  padding: 10px;
  box-shadow: 0 0 20px 0 #ddd6f3;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(to right, $vaalean_lila, $persikka);
  color: $valkoinen;
}

.input-group {
  top: 160px;
  position: absolute;
  width: 280px;
  transition: .5s;
}


.submit_button {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, $vaalean_lila, $persikka);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-family: $teksti_fontti;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: bold;
}


#login-form, #register-form {
  left: 50px;
  top: 180px;

  .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid $harmaa;
    outline: none;
    background: transparent;
    font-family: $teksti_fontti;
  }

  .check_box {
    margin: 30px 10px 30px 0;
  }

  label {
    color: $harmaa;
    font-size: 12px;
    bottom: 100px;
    position: absolute;
    cursor: pointer;
    margin-left: 20px;
  }

  .submit_button {
    margin-top: 30px;
  }

}

#register-form {
  left: 450px;
  top: 150px;

  .submit_button {
    margin-top: 0;
  }

  label {
    bottom: 69px;
  }
}


// MAIN-CONTAINER STYLES
#main-content {
  display: none;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
}

// CARD-CONTAINER AND IMAGES
#card_container {
  width: 80%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 300px; // muuttaa korttien/kuvien kokoa
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

  i {
    color: grey;
    cursor: pointer;
    font-size: 150%;
    margin: 10px;
  }

  .like {
    color: $harmaa;
  }

  .unlike {
    color: $persikka;
  }

  .hide {
    display: none;
  }

  img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
  }

  p {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .textlike {
    margin-right: 10px;
    font-size: 0.9rem;
  }

  .description {
    font-weight: bold;
  }
}

// MODAL IMAGE AND TEXTAREA
.modal-content {
  margin: auto;
  width: 60%;
  background-color: $valkoinen;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  p {
    margin: 20px;
    font-size: 25px;
  }
}



// MODAL
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

// MODAL MYPAGE
#modal-mypage {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  .modal-content {
    margin: auto;
    width: 80%;
    background-color: $valkoinen;
    display: flex;
    border-radius: 10px;

    img {
      width: 60%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    p {
      margin: 20px;
    }
  }


}




// ADDING PIC MODAL
#adding_pic {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  justify-content: center; // Center the form in the middle
  align-items: center;
  font-family: $teksti_fontti;

  #adding_form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 28px;
    width: 450px;
    height: 700px;

    h1 {
      margin: 0;
    }

    input {
      width: 50%;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom: 1px solid $harmaa;
      outline: none;
      background: transparent;
      font-family: $teksti_fontti;
      font-size: 1rem;
      text-align: center;
    }

    input[type="file"] {
      visibility: hidden !important;
      width: 0;
    }

    .custom-file-upload {
      background: $persikka;
      padding: 20px 30px;
      font-weight: bold;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      text-align: center;

      i {
        margin-right: 10px;
      }
    }

    .custom-file-upload:hover {
      background: $hover;
    }

    #child-themes {
      display: none;
      flex-wrap: wrap;
      width: 70%;
    }

    #main-themes {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
    }

    .theme_checkbox {
      flex-grow: 1;
      width: 51%;
      margin: 4px 0;
    }

    input[type="checkbox"] {
      width: 50px;
      margin: 0;
    }

    .submit_button {
      width: 50%;
      margin: 0;
    }
  }

  label {
    font-weight: bold;
    cursor: pointer;
  }

  #recipe-form {
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 28px;
    width: 450px;
    height: 700px;

    #ainesosio {
      display: flex;
      width: 70%;
      justify-content: space-around;
    }

    #ohjeosio {
      display: flex;
      width: 70%;
      justify-content: space-around;
    }

    .submit_button {
      margin: 0;
      width: 50%;
    }
  }

}


// NAVIGATION BAR
nav {
  background-color: $valkoinen;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navi-content {
  display: none;
  position: absolute;
  height: 300px;
  width: 205px;
  margin-top: 20px;

  ul {
    list-style-type: none;
    padding: 15px;
    i{
      cursor: pointer;
    }

      i:hover {
        color: #777777;
      }
    }

  .submit_button {
    margin-left: 10px;
    font-size: .8rem;
  }
  }
  #search-form{
    width: 60%;
    margin-bottom: 20%;
    position: initial;
  h5{
    padding-left:15%;
  }
     #search-input {
       width: 90%;
       margin-left: 10%;
       position: relative;
       border-radius: 10px 0 0 10px;
       line-height: 24px;
       border-style: double;
       border-color: #DCE2E6;
     }

     #search-button {
       cursor: pointer;
       position: absolute;
       width: 20%;
       height: 10%;
       border-radius: 0 10px 10px 0;
       background-color: #faaca8;
       border-style: none;

     }
   }


.show {
  display: block;
}

// PLUS-ICON
#plus-icon {
  color: $persikka;
  cursor: pointer;

}
#plus-icon:hover{
  color: $hover;

}

// HAMBURGER MENU ICON
.hamburger-menu {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;

}

.hamburger-menu.open {
  transform: rotate(-45deg);
}

.line-hmenu {
  background-color: $persikka;
  border-radius: 3px;
  width: 100%;
  height: 3px;
}

.line-hmenu.half {
  width: 50%;
}

.line-hmenu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-hmenu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-hmenu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-hmenu.end {
  transform: rotate(-90deg) translateX(-3px);
}



// MY PROFILE PAGE
#myPage{
  height: -webkit-fill-available;
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  justify-content: center; // Center the form in the middle
  align-items: center;
  font-family: $teksti_fontti;
  position: absolute;
  #myPage_content{
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 28px;
    width: 98%;
    position: relative;
    top:1%;
    left:1%;
    flex-direction: column;
    #exit{
      cursor: pointer;
      width: 90%;
      margin-top: 2%;

    }

    #exit:hover {
      color: #777777;
    }
       #content_container {
        ul {
          list-style-type: none;
          .text{
            font-size: 25px;
            font-weight: bold;
          }

        li{
          text-align: center;
          padding: 5%;

        }
        #user-name{
          padding: 15%;
          font-size: 30px;
        }
       }

      }

      #card-container{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;

       button{
         margin: 10px;
         width: 40%;
         padding: 10px;
         cursor: pointer;
         background:  $persikka;
         border: 0;
         outline: none;
         border-radius: 30px;
         font-family: $teksti_fontti;
         letter-spacing: 2px;
         font-weight: bold;



       }
        button:hover{
          background-color: $hover;
        }

      }

      .card {
        flex-grow: 1;
        flex-basis: 100%;
        max-width: 350px; // muuttaa korttien/kuvien kokoa
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

        i {
          color: grey;
          cursor: pointer;
          font-size: 150%;
          margin: 10px;
        }

        .liked {
          color: #faaca8;
        }

        .like {
          color: $harmaa;
        }

        .unlike {
          color: $persikka;
        }

        .hide {
          display: none;
        }


        img {
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          cursor: pointer;
        }

        p {
          display: flex;
          align-items: center;
          margin: 0;
        }
      }

    }

  }


.like {
  color: $harmaa;
}

.unlike {
  color: $persikka;
}

.hide {
  display: none;
}


#Modify_pic{

  display: none; /* Hidden by default */
   /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  justify-content: center; // Center the form in the middle
  align-items: center;
  font-family: $teksti_fontti;
  position: absolute;
  #modify_form{
    position: relative;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 28px;
    width: 450px;
    height: 700px;
    top: 1%;

    input {
      width: 50%;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom: 1px solid $harmaa;
      outline: none;
      background: transparent;
      font-family: $teksti_fontti;
      font-size: 1rem;
      text-align: center;
    }

    input[type="file"] {
      visibility: hidden !important;
      width: 0;
    }


    #child-themes {
      display: none;
      flex-wrap: wrap;
      width: 70%;
    }

    #main-themes-modify {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
    }

    .theme_checkbox {
      flex-grow: 1;
      width: 50%;
      margin: 4px 0;
    }

    input[type="checkbox"] {
      width: 50px;
      margin: 0;
    }

    .modify-photo-button {
      width: 85%;
      padding: 10px 30px;
      cursor: pointer;
      display: block;
      background: linear-gradient(to right, $vaalean_lila, $persikka);
      border: 0;
      outline: none;
      border-radius: 30px;
      font-family: $teksti_fontti;
      font-size: 1rem;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }

  #recipe-cb-modify {
    font-weight: bold;
  }

}




/* MEDIA RULES*/

/* On screens that are 500px wide or less */
@media screen and (max-width: 500px) {
  #adding_form {
    width: 400px;
    height: 800px;
    margin: 5px;
  }

}

/* On screens that are 380px wide or less */
@media screen and (max-width: 380px) {

  #adding_pic {

    #adding_form {

      #main-themes {
        width: 100%;
      }
    }
  }
}

/* On screens that are 440px wide or less */
@media screen and (max-width: 440px) {

  #adding_pic {

    #adding_form {

      #child-themes {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 710px) {
  #myPage{
     #myPage_content{
      #exit{
        margin-top: 5%;
      }
    }
  }

}
@media screen and (max-width: 1300px){
  .navi-content{
    #search-form{

      #search-input{
        width: 82%;


      }
      #search-button{
        width: 15%;
      }
    }
    #logout-button{
      width: 50%;

    }
  }

  }


@media screen and (max-width: 1530px) {
  .navi-content{

    #search-form{

      #search-input{
        width: 80%;
      }
      #search-button{
        width: 15%;
      }
    }
    #logout-button{
      width: 60%;

    }
  }

}
@media screen and (max-width:840px) {
  .navi-content{
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    font-size: 150%;
    ul{
   padding: 15px;
  }

#search-form{
margin-bottom: 20%;
h5{
margin-left: 50%;
}
#search-input{
margin-left: 40%;
width: 60%;
}
#search-button{
width: 10%;
height: 35px;
}
#logout-button{
width: 60%;
margin-left: 50%;
}
}
}

}





